<div id="main-content">
    <!-- BEGIN PAGE CONTAINER-->
    <div class="container-fluid">
        <!-- BEGIN PAGE HEADER-->
        <div class="row-fluid">
            <div class="span12">
                <!-- BEGIN THEME CUSTOMIZER-->
                <!-- END THEME CUSTOMIZER-->
                <!-- BEGIN PAGE TITLE & BREADCRUMB-->
                <h3 class="page-title"> Manage Employees </h3>
                <ul class="breadcrumb">
                    <li><a href="javascript:void(0);"><i class="fa fa-home"></i></a><span class="divider">&nbsp;</span></li>
                    <li><a href="javascript:void(0);">Configure </a> <span class="divider">&nbsp;</span></li>
                    <li><a href="javascript:void(0);">Boarding Details</a><span class="divider-last">&nbsp;</span></li>
                </ul>
                <!-- END PAGE TITLE & BREADCRUMB-->
            </div>
        </div>
        <!-- END PAGE HEADER-->
        <!-- BEGIN PAGE CONTENT-->
        <!-- BEGIN ADVANCED TABLE widget-->
        <div class="row-fluid">
            <div class="span12">
                <!-- BEGIN EXAMPLE TABLE widget-->
                <div class="widget">
                    <div class="widget-title">
                        <h4><i class="fa fa-file-text"></i> Boarding Details</h4>
                        <span class="tools" style="display:none;"> <a href="javascript:void(0);" class="fa fa-chevron-down"></a> <a href="javascript:void(0);" class="fa fa-remove"></a> </span></div>
                    <div class="widget-body table-responsive">
                        <div class="clearfix">
                            <!-- accordian0 START HERE --->
                            <div class="panel-group" id="accordion">
                                <div class="panel panel-info">
                                    <div class="panel-heading">
                                        <h4 class="panel-title"><a class="accordian-btn" href="javascript:void();"> <span class="fa fa-phone first">&nbsp; </span> Contact Details <span class="fa fa-caret-down pull-right ud-arrow">&nbsp; </span> </a></h4>
                                    </div>
                                </div>
                                <!-- accordian0 END HERE --->
                                <!-- accordian1 START HERE --->
                                <div class="panel panel-info">
                                    <div class="panel-heading">
                                        <h4 class="panel-title"><a class="accordian-btn" data-toggle="collapse" data-parent="#accordion" href="#Document-Details"> <span class="fa fa-newspaper-o first">&nbsp; </span> Document Details <span class="fa fa-caret-down pull-right ud-arrow">&nbsp; </span> </a></h4>
                                    </div>
                                </div>
                                <!-- accordian1 END HERE --->
                                <!-- accordian2 START HERE --->
                                <div class="panel panel-info">
                                    <div class="panel-heading">
                                        <h4 class="panel-title"><a class="accordian-btn" data-toggle="collapse" href="#License-Details"> <span class="fa fa-clipboard first">&nbsp; </span> License Details <span class="fa fa-caret-down pull-right ud-arrow">&nbsp; </span> </a></h4>
                                    </div>
                                </div>
                                <!-- accordian2 END HERE --->
                                <!-- accordian3 START HERE --->
                                <div class="panel panel-info">
                                    <div class="panel-heading">
                                        <h4 class="panel-title"><a class="accordian-btn" href="javascript:void();"> <span class="fa fa-list-alt first">&nbsp; </span> Job Details <span class="fa fa-caret-down pull-right ud-arrow">&nbsp; </span> </a></h4>
                                    </div>
                                </div>
                                <!-- accordian3 END HERE --->
                                <!-- accordian4 START HERE --->
                                <div class="panel panel-info">
                                    <div class="panel-heading">
                                        <h4 class="panel-title"><a class="accordian-btn" data-toggle="collapse" href="#Dependents"> <span class="fa fa-support first">&nbsp; </span> Dependents <span class="fa fa-caret-down pull-right ud-arrow">&nbsp; </span> </a></h4>
                                    </div>
                                </div>
                                <!-- accordian4 END HERE --->
                                <!-- accordian5 START HERE --->
                                <div class="panel panel-info">
                                    <div class="panel-heading">
                                        <h4 class="panel-title"><a class="accordian-btn" data-toggle="collapse" href="#Pay-Grade"> <span class="fa fa-money first">&nbsp; </span> Pay Grade <span class="fa fa-caret-down pull-right ud-arrow">&nbsp; </span> </a></h4>
                                    </div>
                                </div>
                                <!-- accordian5 END HERE --->
                                <!-- accordian6 START HERE --->
                                <div class="panel panel-info">
                                    <div class="panel-heading">
                                        <h4 class="panel-title"><a class="accordian-btn" data-toggle="collapse" href="#Accounts"> <span class="fa fa-users first">&nbsp; </span> Accounts <span class="fa fa-caret-down pull-right ud-arrow">&nbsp; </span> </a></h4>
                                    </div>
                                </div>
                                <!-- accordian6 END HERE --->
                                <!-- accordian7 START HERE --->
                                <div class="panel panel-info ">
                                    <div class="panel-heading">
                                        <h4 class="panel-title"><a class="accordian-btn" data-toggle="collapse" href="#Earnings"> <span class="fa fa-dollar first">&nbsp; </span> Earnings
                                            <span class="fa fa-caret-down pull-right ud-arrow">&nbsp; </span> </a></h4>
                                    </div>
                                </div>
                                <!-- accordian7 END HERE --->
                                <!-- accordian8 START HERE --->
                                <div class="panel panel-info ">
                                    <div class="panel-heading">
                                        <h4 class="panel-title"><a class="accordian-btn" data-toggle="collapse" href="#Education"> <span class="fa fa-university first">&nbsp; </span> Education <span class="fa fa-caret-down pull-right ud-arrow">&nbsp; </span> </a></h4>
                                    </div>
                                </div>
                                <!-- accordian8 END HERE --->
                                <!-- accordian9 START HERE --->
                                <div class="panel panel-info">
                                    <div class="panel-heading">
                                        <h4 class="panel-title"><a class="accordian-btn" data-toggle="collapse" href="#Work-Experience"> <span class="fa fa-briefcase first">&nbsp; </span> Work Experience <span class="fa fa-caret-down pull-right ud-arrow">&nbsp; </span> </a></h4>
                                    </div>
                                </div>
                                <!-- accordian9 END HERE --->
                                <!-- accordian10 START HERE --->
                                <div class="panel panel-info active">
                                    <div class="panel-heading">
                                        <h4 class="panel-title"><a class="accordian-btn" data-toggle="collapse" href="#Boarding"> <span class="fa fa-paper-plane first">&nbsp; </span> Boarding <span class="fa  fa-caret-up pull-right ud-arrow ">&nbsp; </span> </a></h4>
                                    </div>
                                    <form class="form-horizontal" name="addEmployeeBoardingDetail" ng-submit="save(addEmployeeBoardingDetail.$valid)">
                                        <div id="Contact-Details">
                                            <div class="panel-body">
                                                <div class="space15"></div>
                                                <div class="control-group" ng-init="formData.type='On Board'">
                                                    <label class="control-label">Boarding Type :</label>

                                                    <div class="controls" ng-init="formData.type='On Board'">
                                                        <label class="radio span1">
                                                            <input type="radio" ng-model="formData.type" value="On Board" ng-click="getEventByType(formData.type)">
                                                            On Board
                                                        </label>
                                                        </label>
                                                        <label class="radio span3">
                                                            <input type="radio" ng-model="formData.type" value="Off Board" ng-click="getEventByType(formData.type)">
                                                            Off Board
                                                        </label>
                                                    </div>
                                                </div>
                                                <div class="control-group">
                                                    <label class="control-label">Select Event:</label>

                                                    <div class="controls">
                                                        <select class="setwid-spn3 span6 res-mr-botom14" data-ng-model="formData.event" tabindex="-1" name="boarding_event"
                                                                ng-options="item._id as item.name for item in events | orderBy:'name'" ng-init="getEventByType('On Board')" ng-change="getTaskByEvent()" required>
                                                            <option value=""> -- Choose An Event --</option>
                                                        </select>

                                                        <div ng-messages="addEmployeeBoardingDetail.boarding_event.$error"
                                                             ng-show="addEmployeeBoardingDetail.boarding_event.$invalid && !addEmployeeBoardingDetail.boarding_event.$pristine">
                                                            <div ng-message="required" class="error-class">Please Select An Event.</div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="control-group">
                                                    <label class="control-label">Task Check List:</label>

                                                    <div class="controls">
                                                        <div class="span9 responsive-table">
                                                            <table class="table table-striped table-bordered task_tbl">
                                                                <thead>
                                                                    <tr>
                                                                        <th>Task List</th>
                                                                        <th>Due Date</th>
                                                                        <th>Completion Date</th>
                                                                        <th>Status</th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    <tr ng-repeat="task in tasks">
                                                                        <td>
                                                                            <div>
                                                                                <input type="checkbox" data-ng-model="formData.tasks[$index].check" id="test1"/>
                                                                                <label for="test1">{{ task.name }}</label>
                                                                            </div>
                                                                        </td>
                                                                        <td>  <input class=" m-ctrl-small timepicker-default datinput"  data-ng-model="formData.tasks[$index].duDate" name="employee_dudateDate" data-ng-init="formData.tasks[$index].duDate=task.created" type="text" disabled>
                                                                        </td>
                                                                        <td>
                                                                            <div class="input-append bootstrap-timepicker-component span12">
                                                                                <input class=" m-ctrl-small timepicker-default datinput" expiredate data-ng-model="formData.tasks[$index].completionDate" name="employee_completionDate" type="text"  readonly placeholder="Completion Date ">
                                                                                <span class="add-on">
                                                                                    <i class="fa fa-calendar-plus-o"></i>
                                                                               </span>
                                                                            </div>
                                                                        </td>
                                                                        <td><select name="timepass" data-ng-model="formData.tasks[$index].status" tabindex="1" class="custom-select">
                                                                            <option value=""> -- Choose Status --</option>
                                                                            <option value="Pending">Pending</option>
                                                                            <option value="Completed">Completed</option>
                                                                            <option value="InActive">InActive</option>
                                                                        </select></td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="control-group">
                                                    <div class="controls">
                                                        <input class="span6" class="setwid-input3 span2" data-ng-init="formData.employee=employeeId" data-ng-model="formData.employee" type="hidden">
                                                    </div>
                                                </div>
                                                <div class="form-actions">
                                                    <button class="btn btn-success" type="submit" ng-disabled="addEmployeeBoardingDetail.$invalid"><i
                                                            class="fa fa-check"> </i> Create
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <!-- accordian10 END HERE --->
                                <!-- accordian11 START HERE --->
                                <div class="panel panel-info">
                                    <div class="panel-heading">
                                        <h4 class="panel-title"><a class="accordian-btn" data-toggle="collapse" href="#Reporting"> <span class="fa fa-pencil-square first">&nbsp; </span> Reporting <span class="fa fa-caret-down pull-right ud-arrow">&nbsp; </span> </a></h4>
                                    </div>
                                </div>
                                <!-- accordian11 END HERE --->
                            </div>
                        </div>
                        <div class="space15"></div>
                    </div>
                </div>
                <!-- END EXAMPLE TABLE widget-->
            </div>
        </div>
        <!-- END ADVANCED TABLE widget-->
        <!-- END PAGE CONTENT-->
    </div>
    <!-- END PAGE CONTAINER-->
</div>