<div id="main-content">
    <!-- BEGIN PAGE CONTAINER-->
    <div class="container-fluid">
        <!-- BEGIN PAGE HEADER-->
        <div class="row-fluid">
            <div class="span12">
                <!-- BEGIN THEME CUSTOMIZER-->

                <!-- END THEME CUSTOMIZER-->
                <!-- BEGIN PAGE TITLE & BREADCRUMB-->
                <h3 class="page-title"> Manage Employees </h3>
                <ul class="breadcrumb">
                    <li> <a href="javascript:void(0);"><i class="fa fa-home"></i></a><span class="divider">&nbsp;</span> </li>
                    <li> <a href="javascript:void(0);">Configure </a> <span class="divider">&nbsp;</span> </li>
                    <li><a href="javascript:void(0);">License Details</a><span class="divider-last">&nbsp;</span></li>
                </ul>
                <!-- END PAGE TITLE & BREADCRUMB-->
            </div>
        </div>
        <!-- END PAGE HEADER-->
        <!-- BEGIN PAGE CONTENT-->
        <!-- BEGIN ADVANCED TABLE widget-->
        <div class="row-fluid">
            <div class="span12">
                <!-- BEGIN EXAMPLE TABLE widget-->
                <div class="widget">
                    <div class="widget-title">
                        <h4><i class="fa fa-file-text"></i> License Details</h4>
                        <span class="tools" style="display:none;"> <a href="javascript:void(0);" class="fa fa-chevron-down"></a> <a href="javascript:void(0);" class="fa fa-remove"></a> </span> </div>
                    <div class="widget-body table-responsive">
                        <div class="clearfix">




                                <!-- accordian0 START HERE --->
                                <div class="panel-group" id="accordion">

                                    <div class="panel panel-info">
                                        <div class="panel-heading">
                                            <h4 class="panel-title"> <a class="accordian-btn" data-toggle="collapse"  ui-sref="employeeContactDetail({id:employeeId})"  > <span class="fa fa-clipboard first">&nbsp; </span> Contact  Details <span class="fa fa-caret-down pull-right ud-arrow">&nbsp; </span> </a> </h4>
                                        </div>
                                    </div>


                                    <!-- accordian0 END HERE --->

                                    <!-- accordian1 START HERE --->

                                    <div class="panel panel-info">
                                        <div class="panel-heading">
                                            <h4 class="panel-title"> <a class="accordian-btn" data-toggle="collapse" data-parent="#accordion"   ng-href="javascript:void(0);"  > <span class="fa fa-newspaper-o first">&nbsp; </span> Document Details <span class="fa fa-caret-down pull-right ud-arrow">&nbsp; </span> </a> </h4>
                                        </div>
                                    </div>

                                    <!-- accordian1 END HERE --->

                                    <!-- accordian2 START HERE --->


                                    <form class="form-horizontal" name="addEmployeeLicenseDetail" ng-submit="save(addEmployeeLicenseDetail.$valid)">

                                        <div class="panel panel-info active">
                                            <div class="panel-heading">
                                                <h4 class="panel-title"> <a class="accordian-btn"  href="javascript:void();" > <span class="fa fa-phone first">&nbsp; </span> License Details <span class="fa fa-caret-up pull-right ud-arrow">&nbsp; </span> </a> </h4>
                                            </div>
                                            <div id="Contact-Details" >
                                                <div class="panel-body">



                                                    <div class="space15"></div>
                                                    <div class="control-group">
                                                        <label class="control-label">License Number :</label>
                                                        <div class="controls">
                                                            <input ng-maxlength="50" class="span6" class="setwid-input3 span2" data-ng-model="formData.number" name="employee_number" alphanumeric required type="text" placeholder="Enter License Number">
                                                            <div ng-messages="addEmployeeLicenseDetail.employee_number.$error"
                                                                 ng-show="addEmployeeLicenseDetail.employee_number.$invalid && !addEmployeeLicenseDetail.employee_number.$pristine">
                                                                <div ng-message="required" class="error-class">Please Enter License Number.</div>
                                                                <div ng-message="maxlength" class="error-class">This field accept maximum 50 characters.</div>
                                                                <div ng-message="alphanumeric" class="error-class">Please Enter Alphanumeric Value.</div>
                                                            </div>
                                                        </div>


                                                    </div>

                                                    <div class="control-group">
                                                        <label class="control-label">Category : </label>
                                                        <div class="controls">
                                                            <select  class="chosen span6" data-ng-model="formData.category" name="employee_category" tabindex="-1" required >
                                                                <option value=""> -- Choose Category --</option>
                                                                <option value="Heavy Vehicles"> Heavy Vehicles</option>
                                                                <option value="Light Vehicles"> Light Vehicles</option>
                                                            </select>
                                                            <div ng-messages="addEmployeeLicenseDetail.employee_category.$error"
                                                                 ng-show="addEmployeeLicenseDetail.employee_category.$invalid && !addEmployeeLicenseDetail.employee_category.$pristine">
                                                                <p ng-message="required" class="error-class">Please Enter Category</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="control-group">
                                                        <label class="control-label">Issue Date :</label>
                                                        <div class="controls duration">
                                                            <div class="span3">
                                                                <div class="input-append bootstrap-timepicker-component span12">
                                                                    <input class=" m-ctrl-small timepicker-default datinput" issuedate data-ng-model="formData.issueDate" name="employee_issueDate" type="text" required readonly placeholder="Issue Date ">
                                                                <span class="add-on">
                                                                    <i class="fa fa-calendar-plus-o"></i>
                                                                </span>
                                                                    <div ng-messages="addEmployeeLicenseDetail.employee_issueDate.$error"
                                                                         ng-show="addEmployeeLicenseDetail.employee_issueDate.$invalid && !addEmployeeFamilyDetail.employee_issueDate.$pristine">
                                                                        <div ng-message="required" class="error-class">Please Enter Issue Date </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="control-group">
                                                        <label class="control-label">Expiry Date :</label>
                                                        <div class="controls duration">
                                                            <div class="span3">
                                                                <div class="input-append bootstrap-timepicker-component span12">
                                                                    <input alphanumericonly class=" m-ctrl-small timepicker-default datinput" expiredate data-ng-model="formData.expiryDate" name="employee_expiryDate" type="text" required readonly placeholder="Expiry Date ">
                                                                <span class="add-on">
                                                                    <i class="fa fa-calendar-plus-o"></i>
                                                                </span>
                                                                    <div ng-messages="addEmployeeLicenseDetail.employee_expiryDate.$error"
                                                                         ng-show="addEmployeeLicenseDetail.employee_expiryDate.$invalid && !addEmployeeFamilyDetail.employee_expiryDate.$pristine">
                                                                        <div ng-message="required" class="error-class">Please Enter Expiry Date </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="control-group">
                                                        <label class="control-label">Notify for Renewal:</label>
                                                        <div class="controls duration">
                                                            <div class="span3">
                                                                <input required  class="span6" class="setwid-input3 span2" data-ng-model="formData.renewalNotify" name="employee_renewalNotify"  type="checkbox" required >
                                                            </div>
                                                        </div>
                                                    </div>


                                                    <div class="control-group">
                                                        <div class="controls">
                                                            <input class="span6" class="setwid-input3 span2" data-ng-init="formData.employee=employeeId" data-ng-model="formData.employee" type="hidden">
                                                        </div>
                                                    </div>

                                                    <div class="form-actions">
                                                        <button class="btn btn-success" type="submit" ng-disabled="addEmployeeLicenseDetail.$invalid"><i
                                                                class="fa fa-check"> </i> Create
                                                        </button>
                                                        <button class="btn btn-danger" type="button" ui-sref="employeeLicenseDetail({id:employeeId})"><i
                                                                class="fa fa-close"> </i> Cancel
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </form>




                                    <!-- accordian2 END HERE --->

                                    <!-- accordian3 START HERE --->

                                    <div class="panel panel-info">
                                        <div class="panel-heading">
                                            <h4 class="panel-title"> <a class="accordian-btn" ui-sref="employeeJobDetail({id:employeeId})" > <span class="fa fa-list-alt first">&nbsp; </span> Job Details <span class="fa fa-caret-up pull-right ud-arrow">&nbsp; </span> </a> </h4>
                                        </div>
                                    </div>

                                    <!-- accordian3 END HERE --->

                                    <!-- accordian4 START HERE --->

                                    <div class="panel panel-info">
                                        <div class="panel-heading">
                                            <h4 class="panel-title"> <a class="accordian-btn" data-toggle="collapse"  ui-sref="addEmployeeFamilyDetail({id:employeeId})" > <span class="fa fa-support first">&nbsp; </span> Dependents <span class="fa fa-caret-down pull-right ud-arrow">&nbsp; </span> </a> </h4>
                                        </div>
                                    </div>

                                    <!-- accordian4 END HERE --->

                                    <!-- accordian5 START HERE --->

                                    <div class="panel panel-info">
                                        <div class="panel-heading">
                                            <h4 class="panel-title"> <a class="accordian-btn" data-toggle="collapse"  ng-href="javascript:void(0);" > <span class="fa fa-money first">&nbsp; </span> Pay Grade <span class="fa fa-caret-down pull-right ud-arrow">&nbsp; </span> </a> </h4>
                                        </div>
                                    </div>

                                    <!-- accordian5 END HERE --->

                                    <!-- accordian6 START HERE --->

                                    <div class="panel panel-info">
                                        <div class="panel-heading">
                                            <h4 class="panel-title"> <a class="accordian-btn" data-toggle = "collapse"  ng-href="javascript:void(0);"  > <span class="fa fa-users first">&nbsp; </span> Accounts <span class="fa fa-caret-down pull-right ud-arrow">&nbsp; </span> </a> </h4>
                                        </div>
                                    </div>

                                    <!-- accordian6 END HERE --->

                                    <!-- accordian7 START HERE --->

                                    <div class="panel panel-info">
                                        <div class="panel-heading">
                                            <h4 class="panel-title"> <a class="accordian-btn" data-toggle = "collapse"  ui-sref="addEmployeeEarningDetail({id:employeeId})" > <span class="fa fa-dollar first">&nbsp; </span> Earnings <span class="fa fa-caret-down pull-right ud-arrow">&nbsp; </span> </a> </h4>
                                        </div>
                                    </div>

                                    <!-- accordian7 END HERE --->

                                    <!-- accordian8 START HERE --->

                                    <div class="panel panel-info">
                                        <div class="panel-heading">
                                            <h4 class="panel-title"> <a class="accordian-btn" data-toggle = "collapse"  ui-sref="addEmployeeEducationDetail({id:formData.employee})" > <span class="fa fa-university first">&nbsp; </span> Education <span class="fa fa-caret-down pull-right ud-arrow">&nbsp; </span> </a> </h4>
                                        </div>
                                    </div>

                                    <!-- accordian8 END HERE --->

                                    <!-- accordian9 START HERE --->

                                    <div class="panel panel-info">
                                        <div class="panel-heading">
                                            <h4 class="panel-title"> <a class="accordian-btn" data-toggle="collapse"  ui-sref="addEmployeeCompanyDetail({id:formData.employee})"  > <span class="fa fa-briefcase first">&nbsp; </span> Work Experience <span class="fa fa-caret-down pull-right ud-arrow">&nbsp; </span> </a> </h4>
                                        </div>
                                    </div>

                                    <!-- accordian9 END HERE --->

                                    <!-- accordian10 START HERE --->

                                    <div class="panel panel-info">
                                        <div class="panel-heading">
                                            <h4 class="panel-title"> <a class="accordian-btn" data-toggle="collapse"  ng-href="javascript:void(0);"  > <span class="fa fa-paper-plane first">&nbsp; </span> Boarding <span class="fa fa-caret-down pull-right ud-arrow">&nbsp; </span> </a> </h4>
                                        </div>
                                    </div>

                                    <!-- accordian10 END HERE --->

                                    <!-- accordian11 START HERE --->

                                    <div class="panel panel-info">
                                        <div class="panel-heading">
                                            <h4 class="panel-title"> <a class="accordian-btn" data-toggle="collapse"  ui-sref="addEmployeeReportingDetail({id:formData.employee})"  > <span class="fa fa-pencil-square first">&nbsp; </span> Reporting <span class="fa fa-caret-down pull-right ud-arrow">&nbsp; </span> </a> </h4>
                                        </div>
                                    </div>

                                    <!-- accordian11 END HERE --->

                                </div>

                        </div>
                        <div class="space15"></div>
                    </div>
                </div>
                <!-- END EXAMPLE TABLE widget-->
            </div>
        </div>

        <!-- END ADVANCED TABLE widget-->

        <!-- END PAGE CONTENT-->
    </div>
    <!-- END PAGE CONTAINER-->
</div>