<div id="main-content" ng-init="getRecord()">
    <!-- BEGIN PAGE CONTAINER-->
    <div class="container-fluid">
        <!-- BEGIN PAGE HEADER-->
        <div class="row-fluid">
            <div class="span12">
                <!-- BEGIN THEME CUSTOMIZER-->
                <!-- END THEME CUSTOMIZER-->
                <!-- BEGIN PAGE TITLE & BREADCRUMB-->
                <h3 class="page-title"> Manage Employees </h3>
                <ul class="breadcrumb">
                    <li><a href="javascript:void(0);"><i class="fa fa-home"></i></a><span class="divider">&nbsp;</span></li>
                    <li><a href="javascript:void(0);">Configure </a> <span class="divider">&nbsp;</span></li>
                    <li><a href="javascript:void(0);">Work Experience Details</a><span class="divider-last">&nbsp;</span></li>
                </ul>
                <!-- END PAGE TITLE & BREADCRUMB-->
            </div>
        </div>
        <!-- END PAGE HEADER-->
        <!-- BEGIN PAGE CONTENT-->
        <!-- BEGIN ADVANCED TABLE widget-->
        <div class="row-fluid">
            <div class="span12">
                <!-- BEGIN EXAMPLE TABLE widget-->
                <div class="widget">
                    <div class="widget-title">
                        <h4><i class="fa fa-file-text"></i> Work Experience Details</h4>
                        <span class="tools" style="display:none;"> <a href="javascript:void(0);" class="fa fa-chevron-down"></a> <a href="javascript:void(0);" class="fa fa-remove"></a> </span></div>
                    <div class="widget-body table-responsive">
                        <div class="clearfix">
                            <!-- accordian0 START HERE --->
                            <div class="panel-group" id="accordion">
                                <div class="panel panel-info">
                                    <div class="panel-heading">
                                        <h4 class="panel-title"><a class="accordian-btn" ui-sref="employeeContactDetail({id:formData.employee})"> <span class="fa fa-phone first">&nbsp; </span> Contact Details <span class="fa fa-caret-down pull-right ud-arrow">&nbsp; </span> </a></h4>
                                    </div>
                                </div>
                                <!-- accordian0 END HERE --->
                                <!-- accordian1 START HERE --->
                                <div class="panel panel-info">
                                    <div class="panel-heading">
                                        <h4 class="panel-title"><a class="accordian-btn" data-toggle="collapse" data-parent="#accordion" href="javascript:void(0);"> <span class="fa fa-newspaper-o first">&nbsp; </span> Document Details <span class="fa fa-caret-down pull-right ud-arrow">&nbsp; </span> </a></h4>
                                    </div>
                                </div>
                                <!-- accordian1 END HERE --->
                                <!-- accordian2 START HERE --->
                                <div class="panel panel-info">
                                    <div class="panel-heading">
                                        <h4 class="panel-title"><a class="accordian-btn" data-toggle="collapse" ui-sref="employeeLicenseDetail({id:formData.employee})"> <span class="fa fa-clipboard first">&nbsp; </span> License Details <span class="fa fa-caret-down pull-right ud-arrow">&nbsp; </span> </a></h4>
                                    </div>
                                </div>
                                <!-- accordian2 END HERE --->
                                <!-- accordian3 START HERE --->
                                <div class="panel panel-info">
                                    <div class="panel-heading">
                                        <h4 class="panel-title"><a class="accordian-btn" ui-sref="employeeJobDetail({id:formData.employee})"> <span class="fa fa-list-alt first">&nbsp; </span> Job Details <span class="fa fa-caret-up pull-right ud-arrow">&nbsp; </span> </a></h4>
                                    </div>
                                </div>
                                <!-- accordian3 END HERE --->
                                <!-- accordian4 START HERE --->
                                <div class="panel panel-info">
                                    <div class="panel-heading">
                                        <h4 class="panel-title"><a class="accordian-btn" data-toggle="collapse" ui-sref="addEmployeeFamilyDetail({id:formData.employee})"> <span class="fa fa-support first">&nbsp; </span> Dependents <span class="fa fa-caret-down pull-right ud-arrow">&nbsp; </span> </a></h4>
                                    </div>
                                </div>
                                <!-- accordian4 END HERE --->
                                <!-- accordian5 START HERE --->
                                <div class="panel panel-info">
                                    <div class="panel-heading">
                                        <h4 class="panel-title"><a class="accordian-btn" data-toggle="collapse" href="javascript:void(0);"> <span class="fa fa-money first">&nbsp; </span> Pay Grade <span class="fa fa-caret-down pull-right ud-arrow">&nbsp; </span> </a></h4>
                                    </div>
                                </div>
                                <!-- accordian5 END HERE --->
                                <!-- accordian6 START HERE --->
                                <div class="panel panel-info">
                                    <div class="panel-heading">
                                        <h4 class="panel-title"><a class="accordian-btn" data-toggle="collapse" href="javascript:void(0);"> <span class="fa fa-users first">&nbsp; </span> Accounts <span class="fa fa-caret-down pull-right ud-arrow">&nbsp; </span> </a></h4>
                                    </div>
                                </div>
                                <!-- accordian6 END HERE --->
                                <!-- accordian7 START HERE --->
                                <div class="panel panel-info">
                                    <div class="panel-heading">
                                        <h4 class="panel-title"><a class="accordian-btn" data-toggle="collapse" ui-sref="addEmployeeEarningDetail({id:formData.employee})"> <span class="fa fa-dollar first">&nbsp; </span> Earnings <span class="fa fa-caret-down pull-right ud-arrow">&nbsp; </span> </a></h4>
                                    </div>
                                </div>
                                <!-- accordian7 END HERE --->
                                <!-- accordian8 START HERE --->
                                <div class="panel panel-info active">
                                    <div class="panel-heading">
                                        <h4 class="panel-title"><a class="accordian-btn" data-toggle="collapse" ui-sref="addEmployeeEducationDetail({id:formData.employee})"> <span class="fa fa-university first">&nbsp; </span> Education <span class="fa fa-caret-up pull-right ud-arrow">&nbsp; </span> </a></h4>
                                    </div>
                                </div>
                                <!-- accordian8 END HERE --->
                                <!-- accordian9 START HERE --->
                                <div class="panel panel-info">
                                    <form class="form-horizontal" name="editEmployeeCompanyDetail" ng-submit="updateRecord(editEmployeeCompanyDetail.$valid)">
                                        <div class="panel-heading">
                                            <h4 class="panel-title"><a class="accordian-btn" data-toggle="collapse" href="#Work-Experience"> <span class="fa fa-briefcase first">&nbsp; </span> Work Experience <span class="fa fa-caret-down pull-right ud-arrow">&nbsp; </span> </a></h4>
                                        </div>
                                        <div id="Contact-Details">
                                            <div class="panel-body">
                                                <div class="space15"></div>
                                                <div class="control-group">
                                                    <label class="control-label">Company Name : </label>

                                                    <div class="controls">
                                                        <input class="span6" ng-maxlength="50" data-ng-model="formData.name" name="employee_name" type="text" placeholder="Enter Company Name" required>

                                                        <div ng-messages="editEmployeeCompanyDetail.employee_name.$error"
                                                             ng-show="editEmployeeCompanyDetail.employee_name.$invalid && !editEmployeeCompanyDetail.employee_name.$pristine">
                                                            <p ng-message="required" class="error-class">Please Enter Company Name</p>

                                                            <p ng-message="maxlength" class="error-class">This field accept maximum 50 characters</p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="control-group">
                                                    <label class="control-label">Duration :</label>

                                                    <div class="controls duration">
                                                        <div class="span3">
                                                            <div class="input-append bootstrap-timepicker-component span12">
                                                                <input class=" m-ctrl-small timepicker-default datinput" jqdatepicker data-ng-model="formData.durationFrom" name="employee_durationFrom" type="text" required readonly placeholder="From">
                                                                <span class="add-on">
                                                                    <i class="fa fa-calendar-plus-o"></i>
                                                                </span>

                                                                <div ng-messages="editEmployeeCompanyDetail.employee_durationFrom.$error"
                                                                     ng-show="editEmployeeCompanyDetail.employee_durationFrom.$invalid && !editEmployeeCompanyDetail.employee_durationFrom.$pristine">
                                                                    <div ng-message="required" class="error-class">Please Enter Duration From</div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="span3">
                                                            <div class="input-append bootstrap-timepicker-component span12">
                                                                <input class=" m-ctrl-small timepicker-default datinput" jqdatepicker data-ng-model="formData.durationTo" name="employee_durationTo" type="text" required readonly placeholder="To">
                                                                <span class="add-on">
                                                                    <i class="fa fa-calendar-plus-o"></i>
                                                                </span>

                                                                <div ng-messages="editEmployeeCompanyDetail.employee_durationTo.$error"
                                                                     ng-show="editEmployeeCompanyDetail.employee_durationTo.$invalid && !editEmployeeCompanyDetail.employee_durationTo.$pristine">
                                                                    <div ng-message="required" class="error-class">Please Enter Duration To</div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="control-group">
                                                    <label class="control-label">Job Title :</label>

                                                    <div class="controls">
                                                        <input class="span6" ng-maxlength="50" data-ng-model="formData.jobTitle" name="employee_jobTitle" type="text" placeholder="Enter Job Title" alphanumeric required>

                                                        <div ng-messages="editEmployeeCompanyDetail.employee_jobTitle.$error"
                                                             ng-show="editEmployeeCompanyDetail.employee_jobTitle.$invalid && !editEmployeeCompanyDetail.employee_jobTitle.$pristine">
                                                            <p ng-message="required" class="error-class">Please Enter Job Title</p>

                                                            <p ng-message="maxlength" class="error-class">This field accept maximum 50 characters</p>
                                                            <p ng-message="alphanumeric" class="error-class">Please Enter Alphanumeric Value.</p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="control-group">
                                                    <label class="control-label">Attachment :</label>

                                                    <div class="controls">
                                                        <div data-provides="fileupload" class="fileupload fileupload-new span6"><input type="hidden" placeholder="Upload your academic records">

                                                            <div class="input-append">
                                                                 <span class="btn btn-file">
                                                                 <div>
                                                                 </div>
                                                                     <input ngf-select ng-model="formData.file" name="file" ngf-pattern="application/pdf"
                                                                            accept="application/pdf" ngf-max-size="5MB" type="file" class="default">
                                                                 </span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="control-group">
                                                    <div class="controls">
                                                        <input class="span6" type="hidden" data-ng-model="formData.oldFile" value="{{ formData.file }}">
                                                    </div>
                                                </div>
                                                <div class="form-actions">
                                                    <button class="btn btn-success" type="submit" ng-disabled="editEmployeeCompanyDetail.$invalid"><i class="fa fa-check"> </i> Save</button>
                                                    <button class="btn btn-danger" type="button"   ui-sref="addEmployeeCompanyDetail({ id : formData.employee })" ><i
                                                            class="fa fa-remove fa fa-white"></i> Cancel
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <!-- accordian9 END HERE --->
                                <!-- accordian10 START HERE --->
                                <div class="panel panel-info">
                                    <div class="panel-heading">
                                        <h4 class="panel-title"><a class="accordian-btn" data-toggle="collapse" href="javascript:void(0);"> <span class="fa fa-paper-plane first">&nbsp; </span> Boarding <span class="fa fa-caret-down pull-right ud-arrow">&nbsp; </span> </a></h4>
                                    </div>
                                </div>
                                <!-- accordian10 END HERE --->
                                <!-- accordian11 START HERE --->
                                <div class="panel panel-info">
                                    <div class="panel-heading">
                                        <h4 class="panel-title"><a class="accordian-btn" data-toggle="collapse" ui-sref="addEmployeeReportingDetail({id:formData.employee})"> <span class="fa fa-pencil-square first">&nbsp; </span> Reporting <span class="fa fa-caret-down pull-right ud-arrow">&nbsp; </span> </a></h4>
                                    </div>
                                </div>
                                <!-- accordian11 END HERE --->
                            </div>
                            </form>
                        </div>
                        <div class="space15"></div>
                    </div>
                </div>
                <!-- END EXAMPLE TABLE widget-->
            </div>
        </div>
        <!-- END ADVANCED TABLE widget-->
        <!-- END PAGE CONTENT-->
    </div>
    <!-- END PAGE CONTAINER-->
</div>