<div id="main-content" ng-init="getRecord()">
    <!-- BEGIN PAGE CONTAINER-->
    <div class="container-fluid">
        <!-- BEGIN PAGE HEADER-->
        <div class="row-fluid">
            <div class="span12">
                <!-- BEGIN THEME CUSTOMIZER-->
                <!-- END THEME CUSTOMIZER-->
                <!-- BEGIN PAGE TITLE & BREADCRUMB-->
                <h3 class="page-title"> Edit Leave Type </h3>
                <ul class="breadcrumb">
                    <li><a ui-sref="dashboard"><i class="fa fa-home"></i></a><span class="divider">&nbsp;</span></li>
                    <li><a ui-sref="leaveType">Leave Type Listing </a> <span class="divider">&nbsp;</span></li>
                    <li><a href="javascript:void(0);">Edit Leave Type</a><span class="divider-last">&nbsp;</span></li>
                </ul>
                <!-- END PAGE TITLE & BREADCRUMB-->
            </div>
        </div>
        <!-- END PAGE HEADER-->
        <!-- BEGIN PAGE CONTENT-->
        <!-- BEGIN ADVANCED TABLE widget-->
        <div class="row-fluid">
            <div class="span12">
                <!-- BEGIN EXAMPLE TABLE widget-->
                <div class="widget">
                    <div class="widget-title">
                        <h4><i class="fa fa-list-alt"></i> Edit Leave Type</h4>
                        <span class="tools" style="display:none;"> <a href="javascript:void(0);" class="fa fa-chevron-down"></a> <a href="javascript:void(0);" class="fa fa-remove"></a> </span></div>
                    <div class="widget-body table-responsive">
                        <div class="clearfix">
                            <form class="form-horizontal" name="editLeaveType" ng-submit="updateRecord(editLeaveType.$valid)">
                                <div class="control-group">
                                    <label class="control-label">Name :</label>

                                    <div class="controls">
                                        <input ng-maxlength="100" class="span6" data-ng-model="formData.name" name="leaveType_name" type="text" placeholder="Enter Name" required alphanumeric maxlength="100">

                                        <div ng-messages="editLeaveType.leaveType_name.$error" ng-show="editLeaveType.leaveType_name.$invalid && !editLeaveType.leaveType_name.$pristine">
                                            <p ng-message="required" class="error-class">Please Enter Name.</p>
                                            <p ng-message="maxlength" class="error-class">This field accept maximum 100 characters.</p>

                                            <p ng-message="alphanumeric" class="error-class">Please Enter Alphanumeric Value.</p>
                                        </div>

                                    </div>

                                </div>
                                <div class="control-group">
                                    <label class="control-label">Description :</label>

                                    <div class="controls">
                                        <textarea ng-maxlength="500" class="span6 " rows="5" data-ng-model="formData.description" name="leaveType_description" placeholder="Enter Description" maxlength="500"></textarea>
                                        <div ng-messages="addLeaveType.leaveType_description.$error" ng-show="addLeaveType.leaveType_description.$invalid && !addLeaveType.leaveType_description.$pristine">

                                            <p ng-message="maxlength" class="error-class">This field accept maximum 500 characters.</p>

                                        </div>
                                    </div>
                                </div>
                                <div class="form-actions">
                                    <button class="btn btn-success" type="submit" ng-disabled="editLeaveType.$invalid"><i class="fa fa-check"> </i> Update</button>
                                    <button class="btn btn-danger" type="button" ui-sref="leaveType"><i class="fa fa-close"> </i> Cancel</button>
                                </div>
                            </form>
                        </div>
                        <div class="space15"></div>
                    </div>
                </div>
                <!-- END EXAMPLE TABLE widget-->
            </div>
        </div>
        <!-- END ADVANCED TABLE widget-->
        <!-- END PAGE CONTENT-->
    </div>
    <!-- END PAGE CONTAINER-->
</div>