<div id="main-content">
    <!-- BEGIN PAGE CONTAINER-->
    <div class="container-fluid">
        <!-- BEGIN PAGE HEADER-->
        <div class="row-fluid">
            <div class="span12">
                <!-- BEGIN THEME CUSTOMIZER-->
                <!-- END THEME CUSTOMIZER-->
                <!-- BEGIN PAGE TITLE & BREADCRUMB-->
                <h3 class="page-title">
                    Create Job Category
                </h3>
                <ul class="breadcrumb">
                    <li><a ui-sref="dashboard"><i class="fa fa-home"></i></a><span class="divider">&nbsp;</span></li>
                    <li><a ui-sref="jobCategory">Job Category Listing </a> <span class="divider">&nbsp;</span></li>
                    <li><a href="javascript:void(0);">Create Job Category</a><span class="divider-last">&nbsp;</span>
                    </li>
                </ul>
                <!-- END PAGE TITLE & BREADCRUMB-->
            </div>
        </div>
        <!-- END PAGE HEADER-->
        <!-- BEGIN PAGE CONTENT-->
        <!-- BEGIN ADVANCED TABLE widget-->
        <div class="row-fluid">
            <div class="span12">
                <!-- BEGIN EXAMPLE TABLE widget-->
                <div class="widget">
                    <div class="widget-title">
                        <h4><i class="fa fa-list-alt"></i> Create Job Category</h4>
                            <span class="tools" style="display:none;">
                                <a href="javascript:void(0);" class="fa fa-chevron-down"></a>
                                <a href="javascript:void(0);" class="fa fa-remove"></a>
                            </span>
                    </div>
                    <div class="widget-body table-responsive">
                        <div class="clearfix">
                            <form class="form-horizontal" name="addCategory" ng-submit="save(addCategory.$valid)">
                                <div class="control-group">
                                    <label class="control-label">Category Name :</label>

                                    <div class="controls">
                                        <input maxlength="100" class="span6" data-ng-model="formData.name" name="category_name"
                                               type="text" placeholder="Enter Name" required alphanumeric
                                               >
                                        <div ng-messages="addCategory.category_name.$error" ng-show="addCategory.category_name.$invalid && !addCategory.category_name.$pristine">
                                            <p ng-message="required" class="error-class">Please Enter Category Name.</p>
                                            <p ng-message="maxlength" class="error-class">This field accept maximum 100 characters.</p>
                                            <p ng-message="alphanumeric" class="error-class">Please Enter Alphanumeric Value.</p>
                                        </div>
                                    </div>

                                </div>
                                <div class="control-group">
                                    <label class="control-label">Description :</label>

                                    <div class="controls">
                                        <textarea ng-maxlength="500" maxlength="500" class="span6 " rows="5" data-ng-model="formData.description"
                                                  name="category_description" placeholder="Enter Description"
                                                  ></textarea>

                                        <div ng-messages="addCategory.category_description.$error" ng-show="addCategory.category_description.$invalid && !addCategory.category_description.$pristine">
                                            <p ng-message="maxlength" class="error-class">This field accept maximum 500 characters.</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="control-group">
                                    <label class="control-label">Category Type :</label>

                                    <div class="controls">
                                        <select data-ng-model="formData.type" name="category_type" class="chosen span6"
                                                required tabindex="-1" id="selS0V">
                                            <option value=""> -- Choose Category Type --</option>
                                            <option value="Full Time"> Full Time</option>
                                            <option value="Part Time"> Part Time</option>
                                            <option value="Contract"> Contract</option>
                                        </select>

                                        <div ng-messages="addCategory.category_type.$error"
                                             ng-show="addCategory.category_type.$invalid && !addCategory.category_type.$pristine">
                                            ﻿<p ng-message="required" class="error-class">Please Select Category Type.</p>
                                        </div>
                                    </div>

                                </div>
                                <div class="form-actions">
                                    <button class="btn btn-success" type="submit" ng-disabled="addCategory.$invalid"><i
                                            class="fa fa-check"> </i> Create
                                    </button>
                                    <button class="btn btn-danger" type="button" ui-sref="jobCategory"><i
                                            class="fa fa-close"> </i> Cancel
                                    </button>
                                </div>
                            </form>
                        </div>
                        <div class="space15"></div>
                    </div>
                </div>
                <!-- END EXAMPLE TABLE widget-->
            </div>
        </div>
        <!-- END ADVANCED TABLE widget-->
        <!-- END PAGE CONTENT-->
    </div>
    <!-- END PAGE CONTAINER-->
</div>