<div id="main-content">
    <!-- BEGIN PAGE CONTAINER-->
    <div class="container-fluid">
        <!-- BEGIN PAGE HEADER-->
        <div class="row-fluid">
            <div class="span12">
                <!-- BEGIN THEME CUSTOMIZER-->
                <!-- END THEME CUSTOMIZER-->
                <!-- BEGIN PAGE TITLE & BREADCRUMB-->
                <h3 class="page-title"> Create Event</h3>
                <ul class="breadcrumb">
                    <li><a ui-sref="dashboard"><i class="fa fa-home"></i></a><span class="divider">&nbsp;</span></li>
                    <li><a ui-sref="event">Event List</a><span class="divider">&nbsp;</span></li>
                    <li><a href="javascript:void(0);">Create Event</a><span class="divider-last">&nbsp;</span></li>
                </ul>
                <!-- END PAGE TITLE & BREADCRUMB-->
            </div>
        </div>
        <!-- END PAGE HEADER-->
        <!-- BEGIN PAGE CONTENT-->
        <!-- BEGIN ADVANCED TABLE widget-->
        <div class="row-fluid">
            <div class="span12">
                <!-- BEGIN EXAMPLE TABLE widget-->
                <div class="widget">
                    <div class="widget-title">
                        <h4><i class="fa fa-list-alt"></i> Create Event</h4>
                        <span class="tools" style="display:none;"> <a href="javascript:void(0);"
                                                                      class="fa fa-chevron-down"></a> <a
                                href="javascript:void(0);" class="fa fa-remove"></a> </span></div>
                    <div class="widget-body table-responsive">
                        <div class="clearfix">
                            <form class="form-horizontal" name="addEvent" ng-submit="save(addEvent.$valid)">
                                <div class="control-group">
                                    <label class="control-label">Name :</label>

                                    <div class="controls">
                                        <input  class="span6" data-ng-model="formData.name" name="event_name" type="text"
                                               placeholder="Enter Name" required alphanumeric>

                                        <div ng-messages="addEvent.event_name.$error"
                                             ng-show="addEvent.event_name.$invalid && !addEvent.event_name.$pristine">
                                            <p ng-message="required" class="error-class">Please Enter Name.</p>
                                            <p ng-message="alphanumeric" class="error-class">Please Enter Alphanumeric
                                                Value.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label">Description :</label>

                                    <div class="controls">
                                        <textarea class="span6 " rows="5" data-ng-model="formData.description"
                                                  name="event_description" placeholder="Enter Description"
                                                  required></textarea>

                                        <div ng-messages="addEvent.event_description.$error"
                                             ng-show="addEvent.event_description.$invalid && !addEvent.event_description.$pristine">
                                            <p ng-message="required" class="error-class">Please Enter Description.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label">Type :</label>

                                    <div class="controls" ng-init="formData.type='On Board'">
                                        <label class="radio span1">
                                            <input type="radio" ng-model="formData.type" value="On Board">
                                            On Board
                                        </label>
                                        </label>
                                        <label class="radio span3">
                                            <input type="radio" ng-model="formData.type" value="Off Board">
                                            Off Board
                                        </label>
                                    </div>
                                </div>


                                <div class="form-actions">
                                    <button class="btn btn-success" type="submit" ng-disabled="addEvent.$invalid"><i
                                            class="fa fa-check"> </i> Create
                                    </button>
                                    <button class="btn btn-danger" type="button" ui-sref="event"><i
                                            class="fa fa-close"> </i> Cancel
                                    </button>
                                </div>
                            </form>
                        </div>
                        <div class="space15"></div>
                    </div>
                </div>
                <!-- END EXAMPLE TABLE widget-->
            </div>
        </div>
        <!-- END ADVANCED TABLE widget-->
        <!-- END PAGE CONTENT-->
    </div>
    <!-- END PAGE CONTAINER-->
</div>