<div id="main-content">
    <!-- BEGIN PAGE CONTAINER-->
    <div class="container-fluid">
        <!-- BEGIN PAGE HEADER-->
        <div class="row-fluid">
            <div class="span12">
                <!-- BEGIN THEME CUSTOMIZER-->
                <!-- END THEME CUSTOMIZER-->
                <!-- BEGIN PAGE TITLE & BREADCRUMB-->
                <h3 class="page-title">
                    Create User Role
                </h3>
                <ul class="breadcrumb">
                    <li><a ui-sref="dashboard"><i class="fa fa-home"></i></a><span class="divider">&nbsp;</span></li>
                    <li><a ui-sref="userRole">User Role Listing </a> <span class="divider">&nbsp;</span></li>
                    <li><a href="javascript:void(0);">Create User Role</a><span class="divider-last">&nbsp;</span>
                    </li>
                </ul>
                <!-- END PAGE TITLE & BREADCRUMB-->
            </div>
        </div>
        <!-- END PAGE HEADER-->
        <!-- BEGIN PAGE CONTENT-->
        <!-- BEGIN ADVANCED TABLE widget-->
        <div class="row-fluid">
            <div class="span12">
                <!-- BEGIN EXAMPLE TABLE widget-->
                <div class="widget">
                    <div class="widget-title">
                        <h4><i class="fa fa-list-alt"></i> Create User Role</h4>
                            <span class="tools" style="display:none;">
                                <a href="javascript:void(0);" class="fa fa-chevron-down"></a>
                                <a href="javascript:void(0);" class="fa fa-remove"></a>
                            </span>
                    </div>
                    <div class="widget-body table-responsive">
                        <div class="clearfix">
                            <form class="form-horizontal" name="addUserRole" ng-submit="save(addUserRole.$valid)">
                                <div class="control-group">
                                    <label class="control-label">Role Name :</label>

                                    <div class="controls">
                                        <input maxlength="100" class="span6" data-ng-model="formData.name" name="role_name"
                                               type="text" placeholder="Enter Name" required alphanumeric>

                                        <div ng-messages="addUserRole.role_name.$error" ng-show="addUserRole.role_name.$invalid && !addUserRole.role_name.$pristine">
                                            <p ng-message="required" class="error-class">Please Enter Category Name.</p>

                                            <p ng-message="maxlength" class="error-class">This field accept maximum 100 characters.</p>

                                            <p ng-message="alphanumeric" class="error-class">Please Enter Alphanumeric Value.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label">Description :</label>

                                    <div class="controls">
                                        <textarea ng-maxlength="500" maxlength="500" class="span6 " rows="5" data-ng-model="formData.description"
                                                  name="role_description" placeholder="Enter Description"
                                                ></textarea>

                                        <div ng-messages="addUserRole.role_description.$error" ng-show="addUserRole.role_description.$invalid && !addUserRole.role_description.$pristine">
                                            <p ng-message="maxlength" class="error-class">This field accept maximum 500 characters.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label">Key :</label>

                                    <div class="controls">
                                        <input maxlength="3" class="span6" data-ng-model="formData.key" name="role_key"
                                               type="text" placeholder="Enter Name" alphanumeric>

                                        <div ng-messages="addUserRole.role_key.$error" ng-show="addUserRole.role_key.$invalid && !addUserRole.role_key.$pristine">
                                            <p ng-message="maxlength" class="error-class">This field accept maximum 3 characters.</p>

                                            <p ng-message="alphanumeric" class="error-class">Please Enter Alphanumeric Value.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label">Job Category :</label>

                                    <div class="controls">
                                        <select class="setwid-spn3 span6 res-mr-botom14" data-ng-model="formData.jobCategory" tabindex="-1" name="user_jobCategory"
                                                ng-options="item._id as item.name for item in jobCategory | orderBy:'name'" ng-init="getJobCategory()" required>
                                            <option value=""> -- Choose Job Category --</option>
                                        </select>

                                        <div ng-messages="addUserRole.user_jobCategory.$error"
                                             ng-show="addUserRole.user_jobCategory.$invalid && !addUserRole.user_jobCategory.$pristine">
                                            <div ng-message="required" class="error-class">Please Select Job Category.</div>
                                        </div>
                                    </div>
                                </div>
                                <table class="table table-striped table-bordered top-bg" ng-init="getMenus()">
                                    <thead>
                                        <tr role="row">
                                            <th class="sorting">Permisions</th>
                                            <th class="sorting">View</th>
                                            <th class="sorting">Create/Edit</th>
                                            <th class="sorting">Delete</th>
                                        </tr>
                                    </thead>
                                    <tbody role="alert" aria-live="polite" aria-relevant="all">
                                        <tr ng-repeat="item in menuDetail">
                                            <td>{{ item.name }}</td>
                                            <td>
                                                <div id="uniform-undefined" class="checker"> <span>
                            <input type="radio"  ng-model="formData.permission[item._id]" value="1">
                            </span></div>
                                            </td>
                                            <td>
                                                <div class="checker"> <span>
                            <input type="radio"  ng-model="formData.permission[item._id]" value="2">
                                                </span></div>
                                            </td>
                                            <td>
                                                <div class="checker"> <span>
                              <input type="radio" ng-model="formData.permission[item._id]" value="0">
                            </span></div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <div class="form-actions">
                                    <button class="btn btn-success" type="submit" ng-disabled="addUserRole.$invalid"><i
                                            class="fa fa-check"> </i> Create
                                    </button>
                                    <button class="btn btn-danger" type="button" ui-sref="userRole"><i
                                            class="fa fa-close"> </i> Cancel
                                    </button>
                                </div>
                            </form>
                        </div>
                        <div class="space15"></div>
                    </div>
                </div>
                <!-- END EXAMPLE TABLE widget-->
            </div>
        </div>
        <!-- END ADVANCED TABLE widget-->
        <!-- END PAGE CONTENT-->
    </div>
    <!-- END PAGE CONTAINER-->
</div>