<section id="login-body" class="login-sec">
    <div id="login">
        <!-- BEGIN LOGIN FORM -->
        <form name="forgotform" class="form-vertical no-padding no-margin" ng-submit="forgotPassword(forgotform.$valid)"
              method="post" novalidate>
            <div class="control-wrap">
                <h2>Forgot Your Password?</h2>

                <div class="control-group">
                    <div class="controls">
                        <div class="input-prepend">
                            <!--<input class="col-lg-12" id="input-username" type="text" placeholder="Username" />-->
                            <input type="email" class="col-lg-12" id="input-username" ng-model="formData.email" name="email"
                                   type="text" placeholder="Email" required email/>

                            <div ng-messages="forgotform.email.$error" ng-show="forgotform.email.$invalid && !forgotform.email.$pristine">
                                ﻿<p ng-message="email" class="error-class">Please provide valid email.</p>
                                ﻿<p ng-message="required" class="error-class">Please provide Email Address.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="control-group">
                    <div class="clearfix space15"></div>
                    <div class="controls">
                        <div class="input-prepend">
                            <input type="submit" id="login-btn" class="btn btn-block login-btn btn-success"
                                   ng-disabled="forgotform.$invalid" value="Reset Password"/>
                        </div>
                    </div>
                </div>
                <div class="control-group">
                    <div class="controls">
                        <div class="mtop5p">
                            <div class="block-hint pull-right"><a ui-sref="login" class="" id="forget-password">Login?</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <!-- END LOGIN FORM -->
    </div>
</section>



