<section id="login-body" class="login-sec">
    <div id="login">
        <!-- BEGIN LOGIN FORM -->
        <form name="resetPasswordForm" class="form-vertical no-padding no-margin" ng-submit="changePassword()"
              method="post" novalidate>
            <div class="control-wrap">
                <h2>Reset Password</h2>

                <div class="control-group">
                    <div class="controls">
                        <div class="input-prepend">

                            <input ng-model="formData.password" type="password" id="password" name="password" class="col-lg-12" placeholder="New Password"  required>


                        </div>
                    </div>

                    <div class="controls">
                        <div class="input-prepend">

                            <input ng-model="formData.confirmpassword" type="password" id="password" name="confirmpassword" class="col-lg-12" placeholder="Confirm Password"  required>

                        </div>
                    </div>



                </div>
                <div class="control-group">
                    <div class="clearfix space15"></div>
                    <div class="controls">
                        <div class="input-prepend">
                            <input type="submit" id="login-btn" class="btn btn-block login-btn btn-success"
                                    value="Reset Password"/>
                        </div>
                    </div>
                </div>
                <div class="control-group">
                    <div class="controls">
                        <div class="mtop5p">
                            <div class="block-hint pull-right"><a ui-sref="login" class="" id="forget-password">Login?</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <!-- END LOGIN FORM -->
    </div>
</section>